<div class="top-wrapper">
  <div class="container">
    <div class="title">
      <h1>あなたの1いいねの価値は「1」以上!?</h1>
      <h1>この人の投稿をバズらせるのはあなた！</h1>
    </div>
    <div class="explanation">
      <p>step1: ユーザー登録をすると、登録時にランダムに割り当てられる！</p>
      <p>step2: 掲示板を見に行くとバズりたい思いだけ強い一つの投稿が！</p>
      <p>step3: いいねを押してあげることで、あなたの戦闘力分いいねが加算される！</p>
      <p>※ゲストログインすると戦闘力は1固定です。</p>
    </div>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='flex justify-center'>
        <li class='btn'>
          <%= link_to 'ユーザー登録はこちら', new_user_registration_path, class: 'nav-link', id: 'header-board-menu' %>
        </li>
        <li class='btn'>
          <%= link_to 'ゲストユーザーでログイン', users_guest_sign_in_path, data: { turbo_method: :post }, class: '' %>
        </li>
      </ul>
    </div>
</div>