<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row flex">
        <% if @diaries.present? %>
          <%= render partial: 'diary', collection: @diaries, locals: { likes_count: @likes_count } %>
        <% else %>
          <div class="mb-3">日記がありません</div>
        <% end %>
      </div>
    </div>
  </div>
</div>