<%= link_to likes_path(diary_id: diary.id), data: { turbo_method: :post } do %>
    <div class="flex justify-center">
      <div>
        <i class="fa-solid fa-heart"></i>
      </div>
        <%= render 'likes/like', { diary: diary } %>
    </div>
<% end %>
