
<%= link_to like_path(Like.record_find(user: current_user.id, diary: diary.id)), data: { turbo_method: :patch } do %>
    <div class="flex">
        <i class="fa-solid fa-heart"></i>  
        <div id="like-#{diary.id}">
            <%= Like.likes_count(diary.id) || 0 %>
        </div>
    </div>
<% end %>
