<header>
  <nav class='navbar'>
    <%= link_to t('header.title'), '/', class: 'brand' %>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='ms-auto flex justify-between'>
        <li class='nav-item'>
          <%= link_to t('header.login'), new_user_session_path, class: '' %>
        </li>
      </ul>
    </div>
  </nav>
</header>