/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "top";
@import "header";
@import "footer";


.container {
    text-align: center;
    font-size: 24px;
}

.back_color {
    background-color: white;
}

p {
    font-size: 16px;
}

