/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "top";
@import "header";
@import "footer";

.alert-notice {
    background-color: rgb(17, 203, 141);
    color: black;
  }
  
  .alert-alert {
      background-color: orange;
      color: black;
  }

.container {
    text-align: center;
    font-size: 24px;
}

.back_color {
    background-color: white;
}

p {
    font-size: 16px;
}

